.icon__arrow {
  font-size: 4rem;
  padding: 8px 12px;
  border: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.footer {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;
  background-color: rgb(21, 150, 147);
  padding: 28px 12px;
}

.footer__contact-h3 {
  font-size: 2rem;
  color: var(--white-color);
}

.footer__about-us span {
  display: block;
  font-size: 1.4rem;
  color: var(--white-color);
  margin-top: 12px;
  line-height: 1.7rem;
}

.footer__about-us-icon {
  margin-top: 20px;
  font-size: 1.8rem;
  color: var(--white-color);
}

.footer__about-us-icon i {
  display: block;
  margin-top: 8px;
}

.footer__nav-link {
  display: block;
  margin-top: 12px;
  font-size: 1.4rem;
  color: var(--white-color);
  line-height: 1.7rem;
  width: 100%;
}

.footer__nav-link span {
  display: block;
}

.footer__nav-link-div1 span:not(:first-child),
.footer__nav-link-div2:last-child {
  margin-top: 16px;
}

.footer__nav-link-div2-span2 {
  margin-top: 4px;
}

.footer__contact span {
  display: block;
  color: var(--white-color);
  font-size: 1.4rem;
  margin-top: 12px;
  line-height: 1.7rem;
}

.footer__contact-form {
  margin-top: 10px;
}

.footer__contact-form input {
  width: 60%;
  height: 36px;
  padding: 0 8px;
  font-size: 1.4rem;
  outline: none;
  border-radius: 4px;
  border: none;
}

.footer__contact-form-btn {
  min-width: 85px;
  height: 36px;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
}

.footer__contact-other {
  margin-top: 16px;
}

.footer__contact-other i {
  margin-top: 12px;
  font-size: 3rem;
  color: var(--white-color);
  padding: 0 2px;
  cursor: pointer;
}

.footer__contact-other i:hover {
  opacity: 0.8;
}

// arrow up
.arrow-up {
  position: fixed;
  z-index: 5;
  bottom: 80px;
  right: 20px;
  font-size: 4rem;
  padding: 8px 20px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: #fff;
  transform: scale(0);
  opacity: 0;
  transition: all linear 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.arrow-up:hover {
  opacity: 0.8;
}
