.form-content__login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/f8/e3/95/f8e395b6785428be9450d570bf48bf09.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.form-content__heading {
  display: block;
  text-align: center;
  color: #80a2bc;
  font-size: 2.4rem;
  margin-top: 32px;
}

.error {
  height: auto;
  background-color: #fb8a99;
  border-radius: 32px;
  font-size: 1.2rem;
}

.error span {
  display: block;
  padding: 12px 20px;
  font-size: 1.6rem;
}

.form-register,
.form-login {
  width: 525px;
  height: auto;
  max-width: calc(100% - 24px);
  background-color: var(--white-color);
  box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 12px 80px 32px;
  border-radius: 24px;
}

.form-register {
  display: none;
}

.form-group {
  margin: 16px 0;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1.6rem;
  border-radius: 6px;
  border: none;
  border: 1px solid black;
}

.form-input:focus {
  border: none;
  outline: 2px solid #34ace0;
}

.login-button {
  width: 100%;
  background-color: #5794cf;
  border-radius: 8px;
}

.form-content__login p {
  position: relative;
}

.line {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.line::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 43%;
  height: 3px;
  background-color: #e7e6ec;
}

.line::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 43%;
  height: 3px;
  background-color: #e7e6ec;
}

.btn-facebook,
.btn-google {
  width: 100%;
  background-color: #334f8f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.btn-google {
  background-color: #f9fafe;
  margin-bottom: 16px;
  color: #91929b;
}

.btn-google svg,
.btn-facebook i {
  font-size: 2.4rem;
  margin-right: 16px;
}

.form-message {
  text-align: left;
}

.form-button p span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.introduce {
  margin-top: 12px;
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
}

.introduce:hover {
  transform: scale(1.05);
  color: white;
  border-bottom: 1px solid white;
  // font-weight: 700;
}

// error
.form-group.valid .form-message {
  position: relative;
  font-size: 1.2rem;
  color: red;
  margin-top: 6px;
}

.form-group.valid .form-input {
  outline: 1px solid rgb(215, 118, 141);
  background-color: rgb(255, 231, 237);
  border: none;
}

.form-group.valid .form-label-2 {
  top: 35%;
}

.icon-warning {
  font-size: 1.4rem;
  color: rgb(245, 57, 86);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none !important;
}

.form-group.valid .icon-warning {
  top: 32%;
  display: block !important;
}

// page error

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  margin: 3rem 0;
}

.content .main-heading {
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}

button {
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #0046d4;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
