.news-container {
  margin-top: 100px;
}

.news-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.news__separate {
  left: 64% !important;
}

.news-block {
  // display: flex;
  // align-items: center;
  margin: 36px 0;
  text-decoration: none;
  color: var(--primary-color);
  height: 146px;
  display: inline-block;
  overflow: hidden;
}

.news-block__img {
  width: 100%;
  border-radius: 8px;
}

.news-block-text {
  padding: 0 4px;
}

.news-block__heading {
  margin: 12px 0;
  font-size: 1.82rem;
}

.news-block__title {
  font-size: 1.6rem;
}

.news-post {
  // position: fixed;
  width: 300px;
}

.news-post__h1 {
}

.news-post__title {
  display: block;
  font-size: 1.9rem;
  color: rgb(219, 137, 15);
  text-decoration: none;
  margin-top: 20px;
  position: relative;
}

.news-post__title::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(236, 236, 236);
}

.news-post__title:hover {
  color: var(--primary-color);
}
