// form user

.form__user-common {
  margin-left: 261px;
  padding: 0 12px;
}

.form__user-common.open {
  margin-left: 57px;
}

.form-user {
  height: auto;
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.form-user > span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 20px;
  position: relative;
}

.form-user > span::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(206, 212, 218);
}

.form__user-common > p {
  font-size: 2.6rem;
  margin-top: 24px;
  font-weight: 600;
}

.form__user-common > button {
  height: 31px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgb(40, 167, 69);
  background-color: rgb(40, 167, 69);
  color: var(--white-color);
  padding: 4px 8px;
  margin: 2px 0 24px;
}

.form__user-common > button:hover {
  background-color: #218838;
  cursor: pointer;
}

.form__CRUD {
  padding: 8px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.form__CRUD > div:first-child {
  display: flex;
  border-radius: 4px;
  background-color: rgb(23, 162, 184);
  font-weight: 600;
}

.print-output-file {
  padding: 8px 12px;
  font-size: 1.6rem;
}

.print-output-file:hover {
  background-color: rgb(90, 98, 104);
  cursor: pointer;
}

.print-output-file span {
  color: var(--white-color);
}

.form__CRUD > div:last-child {
  margin-top: 8px;
  font-size: 1.6rem;
}

.form__CRUD > div:last-child input {
  padding: 4px 8px;
  outline: none;
  border: none;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

.btn-update {
  background-color: rgb(39, 137, 234);
  position: relative;
  min-width: 100px;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(39, 137, 234);
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.btn-delete {
  background-color: rgb(237, 47, 47);
  min-width: 100px;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(237, 47, 47);
  border-radius: 4px;
  position: relative;
  bottom: 3px;
}

.only-category.ml-12 {
  margin-left: 22px !important;
}

// phần code giao diện slide của user

.handleSlide-user {
  margin-top: 100px;
}

.heading {
  font-size: 3rem;
  margin: 8px 0;
}

.form-control {
  margin: 0 0 12px;
}

.form-group label {
  display: block;
  font-size: 1.8rem;
  margin: 0 0 8px;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
}

.view-post {
  display: flex;
  justify-content: space-between;
}

.view-post a {
  text-decoration: none;
}

// phần code giao diện model tạo mơi 1 sinh viên

.layout-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}

.model__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  display: none;
}

.layout-user.open,
.model__container.open {
  display: flex;
}

.model__user {
  width: 700px;
  max-width: calc(100% - 24px);
  background-color: var(--white-color);
  border-radius: 8px;
  position: relative;
  z-index: 12;
}

.btn-close__user {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 12px;
  color: var(--primary-color);
  font-size: 5rem;
  cursor: pointer;
}

.btn-close__user:hover {
  opacity: 0.6;
}

.model__user form {
  padding: 12px;
  margin-top: 40px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group__sub-div {
  display: flex;
  align-items: center;
  position: relative;
}

.form-label__user {
}

.form-input__user {
  flex: 1;
  padding: 8px 12px;
  outline: none;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-icon__user {
  font-size: 1.6rem;
  padding: 8px 12px;
  background-color: rgb(233, 236, 239);
  color: var(--primary-color);
}

.form-btn {
  text-align: right;
}

.form-btn input {
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  font-weight: 600;
}

.form-btn input:hover {
  opacity: 0.6;
}

.form-btn__save {
  background-color: rgb(0, 123, 255);
  color: var(--white-color);
}

// view post

table {
  font-size: 1.8rem;
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 2px solid black;
}

thead tr th {
  font-size: 2.4rem;
  font-weight: 500;
}

thead tr th,
tbody tr th {
  padding: 20px 0;
}

tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-delete-viewPosts,
.btn-update-viewPosts {
  min-width: 100px;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 8px;
}

.btn-delete-viewPosts {
  background-color: #ed2f2f;
}

.btn-update-viewPosts {
  background-color: #2789ea;
}
