// form user

.form__user-common {
  margin-left: 261px;
  padding: 0 12px;
}

.form__user-common.open {
  margin-left: 57px;
}

.form-user {
  height: auto;
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.form-user > span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 20px;
  position: relative;
}

.form-user > span::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(206, 212, 218);
}

.form__user-common > p {
  font-size: 2.6rem;
  margin-top: 24px;
  font-weight: 600;
}

.form__user-common > button {
  height: 31px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgb(40, 167, 69);
  background-color: rgb(40, 167, 69);
  color: var(--white-color);
  padding: 4px 8px;
  margin: 2px 0 24px;
}

.form__user-common > button:hover {
  background-color: #218838;
  cursor: pointer;
}

.form__CRUD {
  padding: 8px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.form__CRUD > div:first-child {
  display: flex;
  border-radius: 4px;
  background-color: rgb(23, 162, 184);
  font-weight: 600;
}

.print-output-file {
  padding: 8px 12px;
  font-size: 1.6rem;
}

.print-output-file:hover {
  background-color: rgb(90, 98, 104);
  cursor: pointer;
}

.print-output-file span {
  color: var(--white-color);
}

.form__CRUD > div:last-child {
  margin-top: 8px;
  font-size: 1.6rem;
}

.form__CRUD > div:last-child input {
  padding: 4px 8px;
  outline: none;
  border: none;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

// table
.table {
  height: auto;
  position: relative;
}

.table::after {
  content: "";
  position: absolute;
  top: 0;
  left: 77.5%;
  transform: translateX(-77.5%);
  width: 2px;
  height: 100%;
  background-color: rgb(222, 226, 230);
}
.table__desc,
.table__inf {
  --color-gray: rgb(222, 226, 230);
  display: block;
  font-size: 1.6rem;
  border: 1px solid var(--color-gray);
  background-image: linear-gradient(
    to right,
    transparent 10%,
    var(--color-gray) calc(10% + 2px),
    transparent calc(10% + 2px),
    transparent 32.5%,
    var(--color-gray) calc(32.5% + 2px),
    transparent calc(32.5% + 2px),
    transparent 55%,
    var(--color-gray) calc(55% + 3px),
    transparent calc(55% + 3px)
  );
}
.table__desc-title:first-child {
  width: 10%;
}

.table__desc-title {
  display: inline-block;
  width: 22%;
  padding: 8px 12px;
  text-align: center;
}

.table__inf-title:first-child {
  width: 10%;
}
.table__inf-title {
  display: inline-block;
  width: 22%;
  padding: 20px 12px;
  text-align: center;
}

.table__function {
  display: inline-block;
  width: 22.4%;
  text-align: center;
}

.btn-delete,
.btn-update {
  height: auto;
  padding: 8px 16px;
  color: var(--white-color);
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn-update {
  background-color: rgb(23, 162, 184);
  position: relative;
}

.btn-update:hover {
  background-color: rgb(19, 132, 150);
}
.btn-delete {
  background-color: red;
}

.only-category.ml-12 {
  margin-left: 22px !important;
}

// phần code giao diện slide của user

.handleSlide-user {
  margin-top: 100px;
}

.heading {
  font-size: 3rem;
  margin: 8px 0;
}

.form-control {
  margin: 0 0 12px;
}

.form-group label {
  display: block;
  font-size: 1.8rem;
  margin: 0 0 8px;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
}
