<div class="content">
    <div class="form__user-common pb-30">
        <div class="form-user">
            <form action="/homeAdmin/{{blogUser._id}}?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="">Tên tiêu đề</label>
                    <input type="text" value="{{blogUser.tittle}}" name="fullname" placeholder="Tên tiêu đề" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tên tài khoản</label>
                    <input type="text" value="{{blogUser.username}}" name="username" placeholder="Tên tài khoản" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Mật khẩu</label>
                    <textarea name="description" id="description" rows="10" cols="80">{{{blogUser.description}}}</textarea>
                </div>

                <button type="submit" class="btn">Lưu lại</button>
            </form>
        </div>
    </div>
</div>

<script>
    var description = CKEDITOR.replace('description', {
        editorplaceholder: 'Nội dung viết ở đây...',
    });

    description.on( 'change', function( evt ) {
    // getData() returns CKEditor's HTML content.
    console.log( 'Total bytes: ' + evt.editor.getData() );
});
</script>