<div class="content">
    <div class="form__user-common pb-30">
        <div class="form-user">
            <div class="view-post">
                <h1 class="heading">Tạo bài viết</h1>
                <a href="/homeAdmin/viewPosts" class="btn">Xem bài viết</a>
            </div>
            <form action="/homeAdmin/store" method="POST">
                <div class="form-group">
                    <label for="">Hình ảnh</label>
                    <input type="text" name="image" placeholder="image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tên tiêu đề</label>
                    <input type="text" name="name" placeholder="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Phân loại</label>
                    <select name="classify" id="classify">
                        <optgroup label="1. TRANG CHỦ">
                            <option value="1">Tin nổi bật</option>
                            <optgroup label="Laptop chơi game">
                                <option value="21">Laptop chơi game(Slide trên)</option>
                                <option value="22">Laptop chơi game(Slide dưới)</option>
                            </optgroup>
                            <optgroup label="Laptop văn phòng">
                                <option value="31">Laptop văn phòng(Slide trên)</option>
                                <option value="32">Laptop văn phòng(Slide dưới)</option>
                            </optgroup>
                            <optgroup label="Laptop mỏng nhẹ thời trang">
                                <option value="41">Laptop mỏng nhẹ thời trang(Slide trên)</option>
                                <option value="42">Laptop mỏng nhẹ thời trang(Slide dưới)</option>
                            </optgroup>
                        </optgroup>

                        <optgroup label="2. TIN TỨC">
                            <option value="5">Tin tức</option>
                        </optgroup>
                    </select>
                </div>
                
                <textarea name="description" id="description" rows="10" cols="80"></textarea>
                

                <button type="submit" class="btn">Tạo bài viết</button>
            </form>
        </div>
    </div>
</div>


<script>
    var description = CKEDITOR.replace('description', {
        editorplaceholder: 'Nội dung viết ở đây...',
    });

    description.on( 'change', function( evt ) {
    // getData() returns CKEditor's HTML content.
    console.log( 'Total bytes: ' + evt.editor.getData() );
});
</script>