<div class="content">
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
    <h1 style="margin-left: 260px;">homeasdnjk</h1>
</div>