<div class="content">
    <div class="form__user-common handleSlide-user">
        <div class="form-user">
            <h1 class="heading">Tạo bài viết</h1>
            <form action="">
                <div class="form-group">
                    <label for="">Tên tiêu đề</label>
                    <input type="text" placeholder="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Hình ảnh</label>
                    <input type="text" placeholder="Image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Mô tả</label>
                    <textarea id="ckeditor" rows="10" cols="80"></textarea>
                    <script type="text/javascript">
                        CKEDITOR.replace('ckeditor',{
                            filebrowserBrowseUrl : 'filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
                            filebrowserUploadUrl : 'filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
                            filebrowserImageBrowseUrl : 'filemanager/dialog.php?type=1&editor=ckeditor&fldr='
                        });
                    </script>
                </div>

                <button type="submit" class="btn">Tạo bài viết</button>
            </form>
        </div>
    </div>
</div>