<div class="form__user-common">
    <h1 class="dashboard">Dashboard v3</h1>
    <div class="form-user" style="background-color: rgb(244,246,249); box-shadow:0 0 0 0 rgb(244,246,249)">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 m-6 c-12">
                    <div class="statistical">
                        <div class="statistical__Data statistical__Data--1">
                            <h3>201</h3>
                            <p>New posts</p>
                        </div>
                        <div class="statistical__icon--1">
                            <i class="icon__statistical fas fa-comment"></i>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="statistical">
                        <div class="statistical__Data statistical__Data--2">
                            <h3>1250</h3>
                            <p>Unique views </p>
                        </div>
                        <div class="statistical__icon--2">
                            <i class="icon__statistical fas fa-chart-bar"></i>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="statistical">
                        <div class="statistical__Data statistical__Data--3">
                            <h3>$1570</h3>
                            <p>Total coin</p>
                        </div>
                        <div class="statistical__icon--3">
                            <i class="icon__statistical fas fa-money-bill"></i>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="statistical">
                        <div class="statistical__Data statistical__Data--4">
                            <h3>108</h3>
                            <p>New users</p>
                        </div>
                        <div class="statistical__icon--4">
                            <i class="icon__statistical far fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l-8 m-12 c-12">
                    <div class="row">
                        <div class="col l-6 m-12 c-12">
                            <div class="chart">
                                1
                            </div>
                        </div>
                        <div class="col l-6 m-12 c-12">
                            <div class="chart">
                                2
                            </div>
                        </div>
                        <div class="col l-6 m-12 c-12">
                            <div class="chart">
                                3
                            </div>
                        </div>
                        <div class="col l-6 m-12 c-12">
                            <div class="chart">
                                4
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-12 c-12">
                    <div style="width: 100%; height: 400px; background-color: var(--white-color); position: relative">
                        <h1>Used Device</h1>
                        <div class="doghnutChartGroup displayInlineBlock">
                            <div class="circular-progress" data-percent="9" data-text="50%"></div>
                            <div class="circular-text" style="width: 200px;display: flex; justify-content: space-between;">
                                <div>
                                    <p>desktop</p>
                                    <div style="display: flex; align-items: center;">
                                        <p style="color: rgb(14,118,212);font-weight: 700; font-size: 2rem;">
                                            50%
                                        </p>
                                        <div style="display: inline-block;width: 16px; height: 16px; border-radius:50%; background-color: rgb(14,118,212); color:white; margin-left: 8px;">
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p>Mobile</p>
                                    <div style="display: flex; align-items: center;">
                                        <p style="color: #c1baba; font-weight: 700; font-size: 2rem;">
                                            50%
                                        </p>
                                        <div style="display: inline-block;width: 16px; height: 16px; border-radius:50%; background-color: #c1baba; color:white; margin-left: 8px;">
                                            <i class="fas fa-chevron-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>