<div class="form__user-common">
    <p>Quản lý người dùng</p>
    <button class="add__new-user">
        <i class="fas fa-plus"></i>
        Thêm mới
    </button>
    <div  class="form-user">
        <span>Thông tin cá nhân</span>
        <div class="form__CRUD">
            <div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-excel"></i>
                        Xuất excel
                    </span>
                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-print"></i>
                        In
                    </span>

                </div>
                <div class="print-output-file">
                    <span>
                        <i class="fas fa-file-pdf"></i>
                        Xuất Pdf
                    </span>
                </div>
            </div>
            <div>
                <span>Search</span>
                <input type="text" class="search" placeholder="Tìm kiếm ở đây">
            </div>
        </div>

        <div class="table">
            <div class="table__desc">
                <div class="table__desc-title">Số thứ tự</div>
                <div class="table__desc-title">Họ và tên</div>
                <div class="table__desc-title">Tài khoản</div>
                <div class="table__desc-title">Mật khẩu</div>
                <div class="table__desc-title">Chức năng</div>
            </div>
            <div>
                <div class="table__inf">
                    <p class="table__inf-title">1</p>
                    <p class="table__inf-title">Tôn Thất Hội</p>
                    <p class="table__inf-title">thathoi123dn</p>
                    <p class="table__inf-title">thathoi123dn</p>
                    <div class="table__function">
                        <button class="btn-update">
                            <i class="fas fa-edit"></i>
                            <span>Sửa</span>
                        </button>
                        <button class="btn-delete">
                            <i class="fas fa-trash-alt"></i>
                            <span>Xóa</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="layout-user"></div>
    <div class="model__container">
        <div class="model__user">
            <div class="btn-close__user">&times;</div>
            <form action="" method="post">
                <div class="form-group">
                    <label for="" class="form-label__user">Họ và tên</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-user-friends"></i>
                        <input type="text" name="" id="" class="form-input__user" placeholder="Họ và tên">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="form-label__user">Tên tài khoản</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-user"></i>
                        <input type="text" name="" id="" class="form-input__user" placeholder="Tên tài khoản">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="form-label__user">Mật khẩu</label>
                    <div class="form-group__sub-div">
                        <i class="form-icon__user fas fa-lock"></i>
                        <input type="password" name="" id="" class="form-input__user" placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="form-btn">
                    <input type="button" value="Hủy" class="form-btn__cancel">
                    <input type="submit" value="Lưu" class="form-btn__save">
                </div>
            </form>
        </div>
    </div>
</div>