.adminheader {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f6f9;
  height: 100vh; }

.admin-category {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #343a40; }

.admin-category-2 {
  width: 250px; }

.admin-category.open {
  width: 57px;
  overflow: hidden; }

.admin-nav__common.open {
  margin-left: 57px; }

.admin-category__header {
  display: flex;
  align-items: center;
  padding: 13px 8px;
  text-decoration: none;
  font-size: 1.4rem;
  color: #d6d8d9; }

.admin-category__header:hover {
  color: var(--white-color); }

.admin-category__header img {
  width: 33px;
  height: 33px; }

.admin-category__header h1 {
  font-weight: 500;
  margin-left: 6px; }

.road__line-admin-category {
  position: relative;
  bottom: 4px;
  height: 2px;
  background-color: #4f5962; }

.inf-admin {
  display: flex;
  align-items: center;
  padding: 0 0 0 8px;
  position: relative;
  margin-top: 8px; }

.logo__admin-img {
  width: 33px;
  height: 33px;
  border-radius: 50%; }

.inf-admin div:last-child {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-left: 8px;
  margin-top: 16px;
  font-weight: 700; }

.inf-admin div:last-child span {
  color: #c2c7d0;
  line-height: 2.2rem;
  cursor: pointer; }

.inf-admin div:last-child a {
  text-decoration: none;
  color: #c2c7d0; }

.inf-admin div:last-child span:hover,
.inf-admin div:last-child a:hover {
  color: var(--white-color); }

.road__line-logo-admin {
  position: relative;
  top: 4px;
  height: 2px;
  margin-top: 20px;
  background-color: #4f5962; }

.admin-category__list {
  padding: 0 8px;
  margin-top: 20px;
  list-style: none; }

.admin-category__link {
  display: flex;
  align-items: center;
  padding: 12px 6px;
  font-size: 1.6rem;
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  color: #c2c7d0; }

.admin-category__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color); }

.admin-category__icon {
  min-width: 21px;
  font-size: 2rem; }

.icon-post {
  font-size: 2rem; }

.admin-category__link p {
  margin-left: 8px; }

.arrow-down,
.icon__arrow-left {
  margin-left: auto;
  position: relative;
  top: 2px; }

i.icon__arrow-down {
  display: none; }

.icon__arrow-down.open {
  display: block;
  margin-left: auto; }

.icon__arrow-left.open {
  display: none; }

.sub-menu__list {
  list-style: none;
  font-size: 1.6rem;
  color: #c2c7d0;
  display: none; }

.sub-menu__item {
  padding: 12px 6px;
  display: flex;
  cursor: pointer; }

.sub-menu__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color); }

.sub-menu__item p {
  margin-left: 8px; }

.icon-circle {
  margin-right: 4px;
  font-size: 2rem; }

.admin-nav {
  width: 100%;
  height: 57px;
  background-color: var(--white-color); }

.admin-nav__common {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 260px; }

.admin-nav__item {
  display: inline-block; }

.admin-nav__link {
  text-decoration: none;
  color: #7f7f7f;
  padding: 8px 16px;
  font-size: 1.6rem;
  cursor: pointer; }
