<div class="footer">
<div class="grid wide">
    <div class="row">
    <div class="col l-4 c-12">
        <div class="footer__about-us">
        <h3 class="footer__contact-h3">About us</h3>
        <span>web ... nơi chia sẻ kiến thức về laptop để bạn có thể tìm hiểu và lựa chọn. Hãy cùng đồng hành với chúng mình, 
            cùng nhau học và chia sẻ những kiến thức hay và bổ ích nhé
        </span>
        <div class="footer__about-us-icon">
            <i class="fas fa-phone-alt">
            0898702461
            </i>
            <i class="far fa-envelope">
            tonthathoi.090302@gmail.com
            </i>
        </div>
        </div>
    </div>

    <div class="col l-4 c-12">
        <div class="footer__nav">
        <h3 class="footer__contact-h3">Thông tin chung</h3>
        <div class="footer__nav-link">
            <div class="footer__nav-link-div1">
            <span>trang chủ</span>
            <span>Tin tức</span>
            <span>Hỏi đáp</span>
            <span>Liên hệ</span>
            </div>
            <div class="footer__nav-link-div2">
            <span>Hộp thư góp ý và phản hồi trực tiếp đến 
                <span class="footer__nav-link-div2-span2">
                tonthathoi.090302@gmail.com
                </span>
            </span>
            </div>
        </div>
        </div>
    </div>
    <div class="col l-4 c-12">
        <div class="footer__contact">
        <h3 class="footer__contact-h3">Đăng ký nhắn tin khuyến mãi</h3>
        <span>Để không bỏ lỡ những thông tin mới nhất từ website của chúng tôi</span>
        </div>
        <div class="footer__contact-form">
        <input type="text" placeholder="Địa chỉ mail (*)">
        <button class="btn footer__contact-form-btn">Đăng ký</button>
        </div>
        <div class="footer__contact-other">
        <h3 class="footer__contact-h3">liên hệ với chúng tôi qua</h3>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        </div>
    </div>
    </div>
</div>
</div>

<!-- arrow up  -->
<a href="#slidershow" class="arrow-up">
<i class="fas fa-angle-double-up"></i>
</a>