<div class="header">
<div class="grid">
    <nav class="nav-bar">
        <div class="left">
            <a href="/"
                ><img src="/img/logo1.png" alt="" class="header__logo"
            /></a>
            <a class="header-back" href="/">
                <i class="icon-back fas fa-chevron-left"></i>
                <p class="header-tittle__back">Quay lại</p>
            </a>
        </div>

        <!-- show when login -->
        <div class="right">
            <div class="header-pc__avatar">
                <form action="">
                    <div class="btn-publish">
                        <button type="submit" class="button-submit">xuất bản</button>
                    </div>
                </form>
                <!-- hide bell when no login on tablet mobile: header-icon-tablet-mobile-pc--no-login-->
                <div class="header-icon-tablet-mobile-pc">
                    <i class="header-icon__bell far fa-bell">
                        <!-- quantity -->
                        <span class="header-icon__bell-quantity">1</span>

                        <!-- order list  -->
                        <!-- no bell : header-bell__div--no-bell -->
                        <div class="header-bell__div">
                        <div class="header-bell__no-bell">
                            <img src="/img/no-bell.png" alt="" />
                            <p>Chưa có thông báo</p>
                        </div>
                        <div class="header-bell__heading">
                            <span>Thông báo</span>
                            <span>Đánh dấu đã đọc</span>
                        </div>
                        <ul class="header-bell__list">
                            <!-- đánh dấu là chưa đọc: header-bell__item-active -->
                            <li class="header-bell__item header-bell__item-active">
                            <img
                                src="/img/anh.png"
                                alt=""
                                class="header-bell__img"
                            />
                            <div class="header-bell__tittle">
                                <div class="header-bell__desc">
                                Chào mừng bạn đến với trang web của chúng tôi, chúc
                                bạn một ngày tốt lành ^^
                                </div>

                                <div class="time__comments">4 tháng trước</div>
                            </div>
                            </li>
                        </ul>
                        </div>
                    </i>

                    <!-- icon bar -->
                    <div class="header-icon__bar-div hide-on-pc">
                    <label for="check" class="header-icon__bar fas fa-bars"></label>
                    </div>
                </div>
            </div>

            <div class="header-pc-function hide-on-tablet-mobile">
                <img src="/img/anh.png" alt="" class="header-pc__img" />
                <ul class="menu-icon-down__list hide-on-tablet-mobile">
                    <li class="menu-icon-down__item">
                        <div class="menu-icon-down__avatar">
                            <img src="/img/anh.png" alt="" class="menu-header-pc__img" />
                            <span class="header-pc__name">{{fullname}}</span>
                        </div>
                    </li>
                    
                    <div class="menu-icon-down__item--2">
                        
                        <li class="menu-icon-down__item">
                        <a href="writeBlogs" class="menu-icon-down__item-link">
                            <span>
                                Viết blogs
                            </span>
                        </a>
                        </li>

                        <li class="menu-icon-down__item">
                        <a href="writeBlogs" class="menu-icon-down__item-link">
                            <span>
                                Bài viết của tôi
                            </span>
                        </a>
                        </li>
                    </div>
                    
                    <div class="menu-icon-down__item--3">
                        <li class="menu-icon-down__item">
                        <a href="/system" class="menu-icon-down__item-link">
                            Cài Đặt
                        </a>
                        </li>

                        <li class="menu-icon-down__item js-page-manager">
                        <a href="" class="menu-icon-down__item-link">
                            Đăng Xuất
                        </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- navbar on tablet mobie -->
    <input type="checkbox" id="check" class="checkk" hidden />
    <label for="check" class="overlay"></label>
    <nav class="nav-bar-tablet-mobile">
    <label for="check" class="close-btn fas fa-times"></label>

    <!-- login success: header-tablet-mobile__avatar--no-login-->
    <div class="header-tablet-mobile__avatar">
        <img
        src="/img/anh.png"
        alt=""
        class="header-tablet-mobile__img"
        />
        <span class="header-tablet-mobile__name">Quốc Huy</span>
        <img
        src="/img/logo1.png"
        alt=""
        class="header__logo-tablet-mobile"
        />
    </div>
    <ul class="header-tablet-mobile-list">
        <li
        class="header-tablet-mobile-list__item header-list__item-active"
        >
        <a href="/" class="header-tablet-mobile-list__item-link">
            <i class="header-tablet-mobile__icon fas fa-home"></i>
            Trang chủ
        </a>
        </li>
        <li class="header-tablet-mobile-list__item">
        <a href="/news" class="header-tablet-mobile-list__item-link">
            <i
            class="header-tablet-mobile__icon fas fa-envelope-open"
            ></i>
            Tin tức
        </a>
        </li>
        <li class="header-tablet-mobile-list__item">
        <a href="/question" class="header-tablet-mobile-list__item-link">
            <i class="header-tablet-mobile__icon fas fa-book-open"></i>
            Hỏi đáp
        </a>
        </li>
        <li class="header-list-tablet-mobile__item">
        <a href="/contact" class="header-tablet-mobile-list__item-link">
            <i class="header-tablet-mobile__icon fas fa-pen-nib"></i>
            Liên hệ
        </a>
        </li>
    </ul>
    <div class="form-tablet-mobile-login-register">
        <div class="form-tablet-mobile js-login">
        <i
            class="header-tablet-mobile__icon-login fas fa-sign-in-alt"
        ></i>
        Đăng nhập
        </div>
        <div class="form-tablet-mobile js-register">
        <i
            class="header-tablet-mobile__icon-register fas fas fa-user"
        ></i>
        Đăng kí
        </div>
    </div>
    </nav>

    <!-- </div> -->
</div>
</div>