<div class="admin-category">
    <div class="admin-category-2">
        <a href="" class="admin-category__header">
            <img src="/img/adminheader.png" alt="">
            <h1 class="only-category">Page Admin</h1>
        </a>
        <div class="road__line-admin-category"></div>
        <div class="inf-admin">
            <div class="logo__admin">
                <img src="/img/admin.jpg" alt="" class="logo__admin-img">
            </div>
            <div class="only-category">
                <span>Tôn Thất Hội</span>
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    Đăng xuất
                </a>
            </div>
        </div>
            <div class="road__line-logo-admin"></div>
        <ul class="admin-category__list">
            <li class="admin-category__item">
                <a href="homeAdmin" class="admin-category__link">
                    <i class="admin-category__icon fas fa-tachometer-alt"></i>
                    <p class="only-category">Tổng quan</p>
                </a>
            </li>
            <li class="admin-category__item">
                <a href="userManager" class="admin-category__link">
                    <i class="admin-category__icon fas fa-users"></i>
                    <p class="only-category">Quản lý người dùng</p>
                </a>
            </li>
            <li class="admin-category__item">
                <a href="" class="admin-category__link">
                    <i class="admin-category__icon fas fa-portrait icon-post"></i>
                    <p class="only-category">Quản lý bài viết</p>
                </a>
            </li>
            <li class="admin-category__item">
                <div class="admin-category__link js-admin-category__link">
                    <i class="admin-category__icon fas fa-comment"></i>
                    
                    <p class="only-category">Quản lý bình luận</p>
                    <i class="icon__arrow-left fas fa-chevron-left"></i>
                    <i class="icon__arrow-down fas fa-chevron-down"></i>
                </div>
                <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                        <i class="icon-circle fas fa-circle-notch"></i>
                        <p class="only-category">Bình luận người dùng</p>
                    </li>
                    <li class="sub-menu__item">
                        <i class="icon-circle fas fa-circle-notch"></i>
                        <p class="only-category">Bình luận admin</p>
                    </li>
                </ul>
            </li>

            <li class="admin-category__item">
                <div class="admin-category__link js-admin-category__link">
                    <i class="admin-category__icon fas fa-comment"></i>
                    
                    <p class="only-category">CRUD giao diện user</p>
                    <i class="icon__arrow-left fas fa-chevron-left"></i>
                    <i class="icon__arrow-down fas fa-chevron-down"></i>
                </div>
                <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                        <i class="icon-circle fas fa-circle-notch"></i>
                        <p class="only-category">CRUD slideHome</p>
                    </li>
                    <li class="sub-menu__item">
                        <i class="icon-circle fas fa-circle-notch"></i>
                        <p class="only-category">Bình luận admin</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<nav class="admin-nav">
    <div class="admin-nav__common">
        <ul class="admin-nav__list">
            <li class="admin-nav__item">
                <i class="admin-nav__link icon-bars fas fa-bars"></i>
            </li>
            <li class="admin-nav__item">
                <a href="" class="admin-nav__link">Home</a>
            </li>
            <li class="admin-nav__item">
                <a href="" class="admin-nav__link">Contact</a>
            </li>
        </ul>

        <ul>
            <li class="admin-nav__item">
                <i class="admin-nav__link far fa-comments"></i>
            </li>
            <li class="admin-nav__item">
                <i class="admin-nav__link far fa-bell"></i>
            </li>
            <li class="admin-nav__item">
                <i class="admin-nav__link icon-alt fas fa-expand-arrows-alt"></i>
            </li>
            <li class="admin-nav__item">
                <i class="admin-nav__link fas fa-th-large"></i>
            </li>
        </ul>
    </div>
</nav>