<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script> --}}
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckfinder/ckfinder.js"></script>
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/userManager.css">
    <link rel="stylesheet" href="/css/pageadmin.css">
    <link rel="stylesheet" href="/css/homeAdmin.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">

    {{!-- font source san pro --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="adminheader">
        <header>
            {{> headerAdmin}}
        </header>
        {{{body}}}

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>