<div id="slidershow"></div>
<div class="container__contact">
  <div class="form__contact">
    <form class="contact-form" method="post" action="/sendmail">
      <div class="container__contact-input">
        <input
          type="text"
          class="form-control-texttext"
          placeholder="Số điện thoại"
          id="phone"
        />
        <input
          type="email"
          class="form-control-texttext"
          placeholder="Địa chỉ Email"
          id="email"
        />
      </div>
      <div class="container__contact-input">
        <input
          type="text"
          class="form-control-texttext"
          placeholder="Họ và tên"
          id="name"
        />
      </div>
      <div class="container__contact-input">
        <input
          type="text"
          class="form-control-texttext"
          placeholder="Tiêu đề"
          id="subject"
        />
      </div>
      <div class="container__contact-input">
        <textarea
          id="w3review"
          name="w3review"
          rows="5"
          cols="0"
          placeholder="Nội dung"
        ></textarea>
      </div>
      <button type="submit" class="container__contact-icon">
        <i class="fas fa-location-arrow"></i>
      </button>
    </form>
  </div>
  <div class="info__contact">
    <h1 class="info__contact-heading">Thông tin liên hệ</h1>
    <div class="info__contact-content">
      <i class="fas fa-map-marked-alt">
        <span>470 Trần Đại Nghĩa</span>
      </i>
      <i class="fas fa-mobile-alt">
        <span class="info__contact-phone">0898702461</span>
      </i>

      <i class="far fa-envelope">
        <span>tthoi.090302@gmail.com</span>
      </i>

      <i class="fab fa-facebook">
        <span>fb.com/kequaduongvodanh</span>
      </i>
    </div>
  </div>
</div>

<script src="/js/sendmail.js"></script>