<div class="content-login">
    <div class="form-login__container">
        <div class="form">
            <div class="form-login">
                {{!-- register --}}
                 <div class="form-register__left-container">
                    <form action="/register" method="post" id="form1">
                        <div class="form-register__left">
                            <div class="form-register__left-heading">
                                <h1>Đăng kí</h1>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                        <g transform="">
                                            <g fill-rule="evenodd">
                                                <path d="m17.64 9.2a10.341 10.341 0 0 0 -.164-1.841h-8.476v3.481h4.844a4.14 4.14 0 0 1 -1.8 2.716v2.264h2.909a8.777 8.777 0 0 0 2.687-6.62z" fill="#4285f4"/>
                                                <path d="m9 18a8.592 8.592 0 0 0 5.956-2.18l-2.909-2.258a5.43 5.43 0 0 1 -8.083-2.852h-3.007v2.332a9 9 0 0 0 8.043 4.958z" fill="#34a853"/>
                                                <path d="m3.964 10.71a5.321 5.321 0 0 1 0-3.42v-2.332h-3.007a9.011 9.011 0 0 0 0 8.084z" fill="#fbbc05"/>
                                                <path d="m9 3.58a4.862 4.862 0 0 1 3.44 1.346l2.581-2.581a8.649 8.649 0 0 0 -6.021-2.345 9 9 0 0 0 -8.043 4.958l3.007 2.332a5.364 5.364 0 0 1 5.036-3.71z" fill="#ea4335"/>
                                            </g>
                                            <path d="m0 0h18v18h-18z" fill="none"/>
                                        </g>
                                    </svg>
                                    <span>Đăng nhập với google</span>
                                </div>
                                <p>or</p>
                                <span class="show-notification"></span>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Họ và tên</label>
                                <input type="text" class="form-input js-form-input__register" name="fullname" placeholder=" ">
                                <i class="icon-warning fas fa-exclamation-triangle"></i>
                                <label for="" class="form-label-2">Họ và tên</label>
                                <div class="form-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Email</label>
                                <input type="text" class="form-input js-form-input__register" name="email" placeholder=" ">
                                <i class="icon-warning fas fa-exclamation-triangle"></i>
                                <label for="" class="form-label-2">Email</label>
                                <div class="form-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Tên tài khoản</label>
                                <input type="text" class="form-input js-form-input__register" name="username" placeholder=" ">
                                <i class="icon-warning fas fa-exclamation-triangle"></i>
                                <label for="" class="form-label-2">Tên tài khoản</label>
                                <div class="form-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-input js-form-input__register" name="password" placeholder=" ">
                                <i class="icon-warning fas fa-exclamation-triangle"></i>
                                <label for="" class="form-label-2">Mật khẩu</label>
                                <div class="form-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Nhập lại mật khẩu</label>
                                <input type="password" class="form-input js-form-input__register" name="password2" placeholder=" ">
                                <i class="icon-warning fas fa-exclamation-triangle"></i>
                                <label for="" class="form-label-2">Nhập lại mật khẩu</label>
                                <div class="form-message"></div>
                            </div>

                            <div class="btn-register__container">
                                <button class="btn btn-register js-btn-register" type="submit">
                                    <p>Đăng kí</p>
                                    <div class="load-wrapp">
                                        <div class="load-3">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="check-container">
                                        <div class="check-background">
                                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div class="check-shadow"></div>
                                    </div>
                                </button>
                                <p class="no-accout">Bạn đã có tài khoản? <span class="js-login">đăng Nhập</span></p>
                            </div>
                        </div> 
                    </form>
                </div>

                {{!-- login --}}
                <div class="form-login__left-container">
                    <form action="/textlogin" method="post" id="form2">
                        <div class="form-login__left">
                            <div class="form-login__left-heading">
                                <h1>Đăng nhập</h1>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                        <g transform="">
                                            <g fill-rule="evenodd">
                                                <path d="m17.64 9.2a10.341 10.341 0 0 0 -.164-1.841h-8.476v3.481h4.844a4.14 4.14 0 0 1 -1.8 2.716v2.264h2.909a8.777 8.777 0 0 0 2.687-6.62z" fill="#4285f4"/>
                                                <path d="m9 18a8.592 8.592 0 0 0 5.956-2.18l-2.909-2.258a5.43 5.43 0 0 1 -8.083-2.852h-3.007v2.332a9 9 0 0 0 8.043 4.958z" fill="#34a853"/>
                                                <path d="m3.964 10.71a5.321 5.321 0 0 1 0-3.42v-2.332h-3.007a9.011 9.011 0 0 0 0 8.084z" fill="#fbbc05"/>
                                                <path d="m9 3.58a4.862 4.862 0 0 1 3.44 1.346l2.581-2.581a8.649 8.649 0 0 0 -6.021-2.345 9 9 0 0 0 -8.043 4.958l3.007 2.332a5.364 5.364 0 0 1 5.036-3.71z" fill="#ea4335"/>
                                            </g>
                                            <path d="m0 0h18v18h-18z" fill="none"/>
                                        </g>
                                    </svg>
                                    <span>Đăng nhập với google</span>
                                </div>
                                <p>or</p>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Tên tài khoản</label>
                                <input type="text" class="form-input js-form-input-username" name="username" placeholder=" ">
                                <label for="" class="form-label-2">Tên tài khoản</label>
                                <div class="form-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-input js-form-input-password" name="password" placeholder=" ">
                                <label for="" class="form-label-2">Mật khẩu</label>
                                <div class="form-message"></div>
                            </div>

                            <div class="btn-register__container">
                                <button class="btn btn-register js-btn-login" type="submit">
                                    <p>Đăng nhập</p>
                                    <div class="load-wrapp">
                                        <div class="load-3">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>

                                    <div class="check-container">
                                        <div class="check-background">
                                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div class="check-shadow"></div>
                                    </div>
                                </button>
                                <p class="no-accout">Bạn chưa có tài khoản? <span class="js-register">đăng ký</span></p>
                            </div>
                        </div> 
                    </form>
                </div>

                <div class="form-register__right-container">
                    <div class="form-register__right">
                        <h1 class="form-register__right-heading">Chào mừng bạn đã đến với trang web của chúng tôi</h1>
                        <p class="form-register__right-content">text
                        </p>
                        <p class="form-register__right-footer">Hãy là một thành viên trong đại gia đình của chúng tôi</p>
                    </div>
                </div>
                <div class="form-login__right-container">
                    <div class="form-login__right">
                        <h1 class="form-login__right-heading">Chào mừng bạn đã đến với trang web của chúng tôi</h1>
                        <p class="form-login__right-content">đây nơi chia sẻ kiến thức về laptop để bạn có thể tìm hiểu và lựa chọn. 
                            Hãy cùng đồng hành với chúng mình, cùng nhau học và chia sẻ những kiến thức hay và bổ ích nhé
                        </p>
                        <p class="form-login__right-footer">Hãy là một thành viên trong đại gia đình của chúng tôi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var text1 = document.querySelector('.form-login__left-container')
    var text5 = document.querySelector('.form-register__left-container')
    var text2 = document.querySelector('.form-login__right-container')
    var text6 = document.querySelector('.form-register__right-container')
    var text3 = document.querySelector('.btn-register__container p span.js-register')
    var text4 = document.querySelector('.btn-register__container p span.js-login')
    text3.onclick = () => {
        text2.setAttribute('style', 'right: 40%;opacity:0;')
        text6.setAttribute('style', 'right: 40%;opacity:1;')
        text5.setAttribute('style', 'left: 60%;opacity:1; z-index:1')
        text1.setAttribute('style', 'left: 60%;opacity:0; z-index:0')
        {{!-- showNotification.style.display = 'none' --}}
    }

    text4.onclick = () => {
        text2.setAttribute('style', 'right: 0;opacity: 1;')
        text5.setAttribute('style', 'left: 0;opacity: 0;')
        text1.setAttribute('style', 'left: 0;opacity: 1; z-index: 1;')
        text6.setAttribute('style', 'right: 0;opacity: 0; z-index: 0;')

    }
</script>